@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

nav {
  @apply border;
  box-shadow: 0px 0.25rem 0.625rem rgba(151, 151, 154, 0.25);
}

.text-brand {
  @apply text-3xl;
  color: #1f3a93;
  font-family: 'Poppins', sans-serif;
}

.navlink {
  @apply text-black px-3 py-2 rounded-md text-sm font-medium;
}

.navlink::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #1f3a93;
  transition: width 0.3s;
}

.navlink:hover::after {
  width: 100%;
}

.active {
  @apply px-3 py-2 rounded-md text-sm font-medium;
  color: #1f3a93;
}

.active::after {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: #1f3a93;
  transition: width 0.3s;
}

.provile-menu-mobile {
  @apply pt-4 pb-3 border-t-2;
}
