@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.lelang-filter {
  @apply flex flex-col md:flex-row justify-center md:justify-between;
}

.filter-items {
  @apply flex flex-col border px-4 py-8 my-4 md:m-4 w-full md:h-72;
  height: 26rem;
  background-color: #fcfcfc;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px 2px #8e8f9340;
}

.filter-title {
  @apply text-black text-base font-semibold;
  font-family: 'Montserrat', sans-serif;
}

.filter-icons {
  @apply flex flex-row;
}

.filter-icons {
  @apply py-4;
}

.filter-icons > img {
  @apply cursor-pointer mr-8 p-2 border-2 rounded-lg;
}

.filter-icons > img:hover {
  @apply border-secondary;
}

.filter-harga {
  @apply grid grid-cols-2 gap-4;
}

.input-lokasi {
  @apply leading-normal w-44 mb-4 border h-10 rounded-md px-3 relative border-secondary focus:outline-none focus:ring-2 focus:ring-offset-blue-500 focus:ring-opacity-50;
}

.filter-button {
  @apply p-1 border rounded-xl border-secondary w-20 my-4 ml-auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.filter-button:hover {
  @apply text-white border-none;
  background: #1f3a93;
}
