@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.react-daterange-picker {
  @apply items-start;
  max-width: 350px;
}

.react-daterange-picker__wrapper {
  @apply border border-secondary rounded-md p-2 relative;
}

.react-daterange-picker__clear-button:active {
  @apply border-none;
}

.react-daterange-picker__inputGroup {
  @apply text-center;
  min-width: none !important;
}

.react-daterange-picker__calendar {
  @apply absolute;
}

.react-calendar {
  @apply rounded-md text-sm;
  border: 1px solid #ebebeb !important;
  box-shadow: 2px 2px 4px 0px #8e8f9333;
  font-family: 'Inter', sans-serif;
}

.react-calendar__tile {
  @apply p-2;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--now:enabled:hover {
  background-color: #1f2937;
  color: white;
}

.react-calendar__tile--now {
  background-color: #1f3a93;
  color: white;
}
